body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main.sandbox {
  background-color: pink;
}

.sandbox-legend-component {
  background-color: pink;
  display: inline-block;
  width: 2rem;
  height: 1rem;
  padding: 0.2rem;
  margin-right: 0.2rem;
}
